# Dependencies
node_modules/

# Build Artifacts
.output/
.vinxi/
app.config.timestamp_*.js

# Playwright
playwright-report/
test-results/

# Env
.env
.env.local
.env.development
.env.test
.env.production
.env.staging

# System Files
.DS_Store
Thumbs.db
